<footer class="footer">
    <ul class="footer-icons">
        <li>
            <a href="https://www.linkedin.com/in/oskar-ners"
               target="_blank"
               aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/oskar-ners"
               target="_blank"
               aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li>
            <a href="mailto:ners.kontakt@wp.pl"
               aria-label="Email">
                <i class="fas fa-envelope"></i>
            </a>
        </li>
    </ul>
</footer>
