<section class="about">
    <div class="about-me">
        <h3>Hi, I'm Oskar. Nice to meet you.</h3>
        <p>
            The beginning of my career started with joining a company where I focused on developing front-end
            solutions for large British e-commerce websites.<br><br>
            I have had the opportunity to work with renowned brands such as
            <a href="https://www.barkerandstonehouse.co.uk/"
               target="_blank"
               aria-label="Barker&Stonehouse">Barker&Stonehouse</a>,
            <a href="https://www.biscuiteers.com/"
               target="_blank"
               aria-label="Biscuiteers">Biscuiteers</a>,
            <a href="https://www.buttonandsprung.com/"
               target="_blank"
               aria-label="Button&Sprung">Button&Sprung</a>,
            <a href="https://www.oliverbonas.com/ie/"
               target="_blank"
               aria-label="Oliver Bonas">Oliver Bonas</a>,
            <a href="https://www.lsa-international.com/"
               target="_blank"
               aria-label="LSA">LSA</a> & many more.<br><br>
            These experiences have allowed me to enhance my skills in
            <span style="font-weight: bold;">Angular, TypeScript, Rxjs, HTML, SASS & much more</span>,
            delivering projects that meet the needs of demanding clients.
        </p>
    </div>
</section>
