<section class="projects">
    <div>
        <p>project name</p>
        <p>link</p>
        <img src="">
        <p>description</p>
    </div>
    <div>
        <p>project name</p>
        <p>link</p>
        <img src="">
        <p>description</p>
    </div>
    <div>
        <p>project name</p>
        <p>link</p>
        <img src="">
        <p>description</p>
    </div>
    <div>
        <p>project name</p>
        <p>link</p>
        <img src="">
        <p>description</p>
    </div>
</section>
