<section class="projects">
    <div class="project-card">
        <app-slide-show [images]="projectOneImages"></app-slide-show>
        <div class="project-content">
            <h3 class="project-title">To do App & Firebase</h3>
            <app-read-more [text]="projectOneDescription"
                           [maxLength]="300"></app-read-more>
            <a href="https://github.com/oskar-ners/todoapp-firebase"
               target="_blank"
               aria-label="GitHub"
               class="project-link">
                <i class="fab fa-github"></i> Code on GitHub
            </a>
        </div>
    </div>

    <div class="project-card">
        <app-slide-show [images]="projectTwoImages"></app-slide-show>
        <div class="project-content">
            <h3 class="project-title">FireBlog: Your Real-Time Blogging Space</h3>
            <app-read-more [text]="projectTwoDescription"
                           [maxLength]="300"></app-read-more>
            <a href="https://github.com/oskar-ners/todoapp-firebase"
               target="_blank"
               aria-label="GitHub"
               class="project-link">
                <i class="fab fa-github"></i> Code on GitHub
            </a>
        </div>
    </div>

    <div class="project-card">
        <app-slide-show [images]="projectThreeImages"></app-slide-show>
        <div class="project-content">
            <h3 class="project-title">Ecommerce Platform</h3>
            <app-read-more [text]="projectThreeDescription"
                           [maxLength]="300"></app-read-more>
            <a href="https://github.com/oskar-ners/todoapp-firebase"
               target="_blank"
               aria-label="GitHub"
               class="project-link">
                <i class="fab fa-github"></i> Code on GitHub
            </a>
        </div>
    </div>

    <div class="project-card">
        <app-slide-show [images]="projectFourImages"></app-slide-show>
        <div class="project-content">
            <h3 class="project-title">To do App & Firebase</h3>
            <app-read-more [text]="projectFourDescription"
                           [maxLength]="300"></app-read-more>
            <a href="https://github.com/oskar-ners/todoapp-firebase"
               target="_blank"
               aria-label="GitHub"
               class="project-link">
                <i class="fab fa-github"></i> Code on GitHub
            </a>
        </div>
    </div>
</section>
