<section class="contact">
    <h2>It's great that you want to get in touch. How can I help you?</h2>
    <img style="height: 250px;"
         [src]="'assets/images/logo.png'">
    <form #form="ngForm"
          (ngSubmit)="onSubmit(form, $event)">
        <label for="name">
            Name
            <input type="text"
                   id="name"
                   name="name"
                   [(ngModel)]="userName"
                   #name="ngModel"
                   required>
            @if(name.invalid && form.submitted){
            @if(name.errors?.['required']) {
            <span class="error">Name is required.</span>
            }
            }
        </label>
        <label for="email">
            Email
            <input type="email"
                   id="email"
                   name="email"
                   [(ngModel)]="userEmail"
                   #email="ngModel"
                   required>
            @if(email.invalid && form.submitted){
            @if(email.errors?.['required']) {
            <span class="error">Email is required.</span>
            }
            }
        </label>
        <label for="message">
            Message
            <input type="text"
                   id="message"
                   name="message"
                   [(ngModel)]="userMessage"
                   #message="ngModel"
                   required>
            @if(message.invalid && form.submitted){
            @if(message.errors?.['required']) {
            <span class="error">Message is required.</span>
            }
            }
        </label>
        <button type="submit">Send message</button>
        @if (showMessageSent){
        <p class="success">Message sent!</p>
        }
    </form>
</section>
