<nav class="navbar">
    <div class="navbar-logo">
        <a href="#top">
            <img [src]="'assets/images/logo2.png'"
                 [routerLink]="'/'"
                 [alt]="'logo'">
        </a>
    </div>
    <div (click)="openMobileModal()"
         class="logo-mobile">
        <img [src]="'assets/images/logo2.png'"
             [routerLink]="'/'"
             [alt]="'logo'">
    </div>
    <ul class="navbar-menu">
        <li>
            <i class="fa-solid fa-user"></i>
            <a href="#about">About me</a>
        </li>
        <li>
            <i class="fa-solid fa-star"></i>
            <a href="#projects">Projects</a>
        </li>
        <li>
            <i class="fa-solid fa-phone"></i>
            <a href="#contact">Contact me</a>
        </li>
    </ul>
</nav>
